* {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

h1 {
    font-size: 30px;
}

#fundo {
    display: grid;
    grid-template-columns: 35% 30% 35%; /* 3 colunas */
    grid-template-rows: 30% 50% 25% 25%; /* 4 linhas */

    background: no-repeat;
    background-size: 100% 100%;
    background-image: url('../imagens/backgroundLogin.png');
    height: 100vh;
}

#superior {
    position: fixed;

    width: 100%;
    background-color: rgb(85, 57, 26, 0.5);
}

#logo {
    padding: 20px;
}

#forms {
    grid-area: 2 / 2 / 3 / 3; /* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
    background-color: rgb(214, 208, 120, 0.5);

    height: 70%;
    text-align: center;
}